<!DOCTYPE html>
<html ng-app="directiveApp">
    <head>
        <title>Directives</title>
        <script src="../node_modules/angular/angular.js"></script>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.css">

        <script src="../app/controllers/defautController.js"></script>
        <script src="../app/services/dataService.js"></script>
    </head>
    <body>
        <div id="todoPanel" class="panel" ng-controller="defaultCtrl">

            <h3 class="panel-header">To Do List</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dates">
                        <td>{{$index + 1}}</td>
                        <td ng-repeat="prop in item">{{prop}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </body>
</html>